.games-block {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}

.game {
  border: 1px grey solid;
  margin-bottom: 10px;
  padding: 10px;
}

.game-title-block {
  padding-top: 0px;
}

.game-title-block:hover {
  background-color: rgb(53, 53, 53);
  cursor: pointer;
}

.download-link {
  padding-right: 10px;
}

.avatar {
  margin-right: 5px;
}

.calendar-text {
  margin-left: 5px;
  font-size: small;
}