<div class="col-md-12" *ngIf="!loaded">
  <div *ngIf="!loaded" class="text-center">
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
</div>

<div class="game-block" *ngIf="loaded">
  <div class="row">
    <img src="{{ getGameAvatarLink() }}" width="100" height="100" />
    <a
      class="title"
      href="https://github.com/{{ game.full_name }}"
      target="_blank"
      >{{ game.full_name }}</a
    >
  </div>

  <div class="downloads">
    <h4>Downloads:</h4>
    <a
      class="download-link"
      href="{{ download_link.link }}"
      [ngSwitch]="download_link.platform"
      *ngFor="let download_link of game.download_links"
    >
      <span *ngSwitchCase="'linux'">
        <fa-icon [icon]="faLinux" class="dl-icon">Linux</fa-icon> Linux
      </span>
      <span *ngSwitchCase="'windows'">
        <fa-icon [icon]="faWindows" class="dl-icon">Windows</fa-icon>Windows
      </span>
      <span *ngSwitchCase="'windows-portable'">
        <fa-icon [icon]="faWindows" class="dl-icon">Windows-Portable</fa-icon
        >Windows Portable
      </span>
      <br />
    </a>
  </div>
</div>
