<div class="col-md-12" *ngIf="!loaded">
  <div *ngIf="!loaded" class="text-center">
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
</div>

<div class="repo-block" *ngIf="loaded">
  <div class="row">
    <img src="{{ getGameAvatarLink() }}" width="100" height="100" />
    <a class="title" href="https://github.com/{{ game.full_name }}" target="_blank">{{ game.full_name }}</a>
  </div>

  <div class="downloads">
    <h4 class="row">Downloads:</h4>
    <a class="download-link" href="{{ download_link.link }}" [ngSwitch]="download_link.platform"
      *ngFor="let download_link of game.download_links">
      <span *ngSwitchCase="'linux'">
        <fa-icon [icon]="faLinux" class="dl-icon">Linux</fa-icon> Linux
      </span>
      <span *ngSwitchCase="'windows'">
        <fa-icon [icon]="faWindows" class="dl-icon">Windows</fa-icon>Windows
      </span>
      <span *ngSwitchCase="'windows-portable'">
        <fa-icon [icon]="faWindows" class="dl-icon">Windows-Portable</fa-icon>Windows Portable
      </span>
      <br />
    </a>
  </div>

  <div class="builds">
    <div class="row builds-header">
      <div class="col md-4">
        <h5>Total builds: {{ game.builds.length }}</h5>
      </div>
      <div class="col md-4 align-self-end latest">
        <h5>Latest: {{ getGameBuildTime() | userFriendlyDate }}</h5>
      </div>
    </div>

    <div [ngClass]="['row', 'build', build.build_info.status]" *ngFor="let build of buildsByNewest()">
      <div class="col-md-6 game-title-block">
        <div class="row">
          <p>{{ build.commit.message }}</p>
        </div>
        <div class="row">
          <a href="https://github.com/{{ build.commit.committer.username }}" target="_blank" class="user">
            <img src="{{ getUserAvatarLink(build.commit.committer.username) }}" width="24" height="24" />
            {{ build.commit.committer.username }}</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <img class="commit-icon align-middle" [src]="'/assets/images/commit.png'" height="12">
          <a href="https://github.com/{{ game.full_name }}/commit/{{
              build.commit.hash
            }}" target="_blank">{{ build.commit.hash | maxLength:10}}</a>
        </div>

        <div class="row" *ngIf="build.build_info.started_time != null && build.build_info.ended_time != null">
          <fa-icon [icon]="faHistory" class="time-icon"></fa-icon>
          {{ build.build_info.started_time | userFriendlyTimespan : build.build_info.ended_time }}
        </div>
        <div class="row" data-toggle="tooltip" title="{{build.build_info.created_time | date:'medium' }}">
          <fa-icon [icon]="faCalendarAlt" class="calendar-icon"></fa-icon>
          {{ build.build_info.created_time | userFriendlyDate }}
        </div>
        <div class="row">
          <p class="alert-danger">{{ build.build_info.err_msg }}</p>
        </div>
      </div>
      <div class="status col-md-2">
        <p [className]="build.build_info.status">{{ build.build_info.status | titlecase }}</p>
      </div>
    </div>
  </div>
</div>