.repo-block {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.title {
  margin-left: 20px;
  color: lightgrey;
  font-size: xx-large;
}

.downloads {
  margin-top: 50px;
}

.dl-icon {
  margin-right: 5px;
}

.download-link {
  margin-left: 50px;
  color: lightskyblue;
}

.download-link * {
  color: lightskyblue;
}

.builds {
  margin-top: 100px;
}

.builds-header .latest {
  text-align: right;
}

.build {
  border: 1px grey solid;
  margin-bottom: 10px;
  padding: 10px;
}

.build.queued {
  border-left: 4px solid orange;
}

.build.started {
  border-left: 4px solid lightskyblue;
}

.build.success {
  border-left: 4px solid lightgreen;
}

.build.failure {
  border-left: 4px solid indianred;
}

.build.skipped {
  border-left: 4px solid grey;
}

.status {
  text-align: right;
}

p.queued {
  color: orange;
}

p.started {
  color: lightskyblue;
}

p.success {
  color: lightgreen;
}

p.failure {
  color: indianred;
}

p.skipped {
  color: grey;
}

.user {
  color: lightgrey;
}

.game-title-block {
  padding-top: 0px;
  padding-right: 50px;
}

.download-link {
  padding-right: 10px;
}

.calendar-icon {
  margin-right: 8px;
  margin-left: 2px;
}

.time-icon {
  margin-left: 1px;
  margin-right: 7px;
}

.commit-icon {
  margin-right: 5px;
  margin-top: 4px;
  filter: brightness(0) invert(1);
}