.repo-block {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.title {
  margin-left: 20px;
  color: lightgrey;
  font-size: xx-large;
}

.downloads {
  margin-top: 50px;
}

.dl-icon {
  margin-right: 5px;
}

.download-link {
  margin-left: 50px;
  color: lightskyblue;
}

.download-link * {
  color: lightskyblue;
}

.builds {
  margin-top: 100px;
}

.builds-header .latest {
  text-align: right;
}

.build {
  border: 1px grey solid;
  margin-bottom: 10px;
  padding: 10px;
}

.build.succeed {
  border-left: 4px solid green;
}

.build.started {
  border-left: 4px solid orange;
}

.build.failed {
  border-left: 4px solid red;
}

.build.skipped {
  border-left: 4px solid grey;
}

p.succeed {
  color: lightgreen;
}

p.started {
  color: yellow;
}

p.failed {
  color: indianred;
}

p.skipped {
  color: grey;
}

.user {
  color: lightgrey;
}

.game-title-block {
  padding-top: 0px;
}

.download-link {
  padding-right: 10px;
}
